.footer {
    background-color: $dark-color-2;
    padding: 18rem 0;
    font-size: 1.4rem;

    &__logo-box {}

    &__logo {
        width: 15rem;
        height: auto;
    }

    &__navigation {}

    &__item {}

    &__link {}
}