.row {
    max-width: $grid-width;
    background-color: red;
    margin: 0 auto;

    &:not(:last-child) {
        margin: $vertical-gutter;
    }

    .col-1-of-2 {
        width: calc((100% - #{$horizontal-gutter}) / 2);
        background-color: yellow;
        float: left;

        &:not(:last-child) {
            margin-right: $horizontal-gutter;
        }
    }
}