.row {
    max-width: $grid-width;
    background-color: #BA0000;
    margin: 0 auto;

    &:not(:last-child) {
        margin-bottom: $vertical-gutter;
    }

    .col-1-of-2 {
        // Remember to use string interpolation
        width: calc(100% #{$horizontal-gutter} / 2);
    }
}