.popup {
    overflow: hidden;
    background-color: blue;
    height: 100vh;

    &__content {
        background-color: red;
        height: 50vh;
        width: 75vw;
        margin-top: 15%;
        margin-left: 25%;
        margin-right: 25%;
        opacity: .8;
    }
}