@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin gradient-image($path) {
    background-image: linear-gradient(to right bottom,
            rgba($primary-color-light, 0.8),
            rgba($primary-color-dark, 0.8)),
        url($path);
    background-size: cover;
}

@mixin gradient-text {
    display: inline-block;
    background-image: linear-gradient(to right, $primary-color-light, $primary-color-dark);
    -webkit-background-clip: text;
    color: transparent;
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// Media queries
/*
0 - 600px - Phone
600 - 900 - Tablet Portrait mode
900 - 1200 - Tablet Landscape mode
(1200/1800) - Normal styles
1800px + : Bigger screens
*/

@mixin respond-phone {
    @media(max-width: 600px) {
        @content
    }

    ;
    // Ignore the weird formatting.
}

/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
*/
@mixin responsive($breakpoint) {}