@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin gradient-image($path) {
    background-image: linear-gradient(to right bottom,
            rgba($primary-color-light, 0.8),
            rgba($primary-color-dark, 0.8)),
        url($path);
    background-size: cover;
}