// Colors
// Main colors
$primary-color:#55c57a;
$primary-color-light:#7ed56f;
$primary-color-dark:#28b485;
// Card colors
$secondary-color-light: #ffb900;
$secondary-color-dark: #ff7730;
$third-color-light: #2988ff;
$third-color-dark: #5643fa;
// Font and background colors
$light-grey-color-1:#f7f7f7;
$grey-color-dark:#eee;
$light-color: #fff;
$grey-color-dark-2:#999;
$dark-color:#000;
$dark-color-2:#242424;
//Fonts
$default-font-size:1.6rem;

// Grid variables
$grid-width: 114rem;
$vertical-gutter:8rem;
$horizontal-gutter:6rem;